# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.venv/

# Environment variables
.env

# VSCode
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db